@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#header-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1C1C1C;
    height: 70px;
    border-bottom: 1px solid gray;
    z-index: 5;
}

#heading {
    color: #F10000;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    align-content: center;
    letter-spacing: 1.5px;
    cursor: pointer;
}